doctype html
html
  head
    title Sails App Admin

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet" href="/styles/importer.css")

  body

    header
      nav
        ul


    main
      block content

    footer
      p &copy; Jaztec
    script(src="/js/dependencies/sails.io.js")
