$color-success: #1c931c;
$color-shadow: #1E1E1E;

$button-darken-percentage: 5%;
$button-transition-time: .5s;

$button-padding-top: 5px;
$button-padding-bottom: 5px;
$button-padding-left: 10px;
$button-padding-right: 10px;

$button-margin-top: 3px;
$button-margin-bottom: 3px;
$button-margin-left: 5px;
$button-margin-right: 5px;
