@import 'mixins/flexbox';
@import 'mixins/grid';
@import 'mixins/transitions';

$max-screen-width: 1280px;

$nav-color: #3423FF;
$shadow-color: #939393;
$hover-color: #DDDDFF;

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.main-wrapper {
  max-width:  $max-screen-width;
  margin: 0 auto;
}

nav {
  height: 60px;
  background-color: $nav-color;
  box-shadow: 2px 2px 50px $shadow-color;

  ul {
    max-width:  $max-screen-width;
    margin: 0 auto;

    height: 100%;

    list-style: none;

    li {
      height: 100%;
      @include flexBox(center, center, column);

      a {
        @include flexContainer;
        @include flexAlignItems(center);
        @include transition(background-color, .5s, ease);
        @include transition(color, .5s, ease);
        @include transition(box-shadow, .5s, ease);
        height: 100%;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 400;
        padding: 0 2em;
      }
      &:hover, &:focus, &.active {
        a {
          @include transition(background-color, .5s, ease);
          @include transition(color, .5s, ease);
          @include transition(box-shadow, .5s, ease);
          background-color: $hover-color;
          color: $nav-color;
          text-decoration: none;
          box-shadow: 0 2px 20px $hover-color;
        }
      }
    }
  }
}

@media (max-width: $max-screen-width) {
  .main-wrapper {
    margin: 0 2em;
  }
}
